<footer>
    <div id="joinUs">Rejoignez nous :</div>
    <div id="socialLinks">
        <div class="socialLink">        
            <fa-icon [icon]="faDiscord"></fa-icon>
            <div>Across eSport</div>        
        </div>

        <div class="socialLink">        
            <fa-icon [icon]="faTwitch"></fa-icon>
            <div>across_eSporttv</div>        
        </div>

        <div class="socialLink">        
            <fa-icon [icon]="faTwitter"></fa-icon>
            <div>@Across_eSport</div>        
        </div>
    </div>
</footer>